In [ ]:
import os
import s3fs
import pandas as pd

In [5]:
# Create filesystem object
S3_ENDPOINT_URL = "https://" + os.environ["AWS_S3_ENDPOINT"]
fs = s3fs.S3FileSystem(client_kwargs={'endpoint_url': S3_ENDPOINT_URL})

In [6]:
print(fs.ls('s3://quentin1999'))

['quentin1999/Data_Projet_NLP', 'quentin1999/full_df']

In [10]:
BUCKET = "s3://quentin1999/Data_Projet_NLP"
FILE_KEY_S3 = "full_df"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3

with fs.open(FILE_PATH_S3, mode="rb") as file_in:
    full_df = pd.read_parquet(file_in)

In [14]:
full_df.head()

,age,case_id,case_text,gender
0,53.0,PMC3738355_01,A 53-year-old woman presented with a 10-year h...,Female
0,69.0,PMC5015624_01,A 69-year-old Caucasian female with coronary a...,Female
0,60.0,PMC6381877_01,A 60-year-old male smoker presented with persi...,Male
0,41.0,PMC5912312_01,A 41-year-old female with a past medical histo...,Female
1,51.0,PMC5912312_02,A 51-year-old male with a history of SCAD pres...,Male